body{
    min-width: 380px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.block-loading {
    z-index: 9999;
    background: url(../images/ajax-loader.svg) #eee center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.3;
}

#background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url("../images/espuma/espuma-1.jpg");
}

#fake_body{
    background-image: url("../images/espuma/espuma-1.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center -80px;



    -webkit-filter: blur(10px);
    filter: url('http://api.captival.mx/media/blur.svg#blur');
    filter: blur(10px);

}

#form_container{
    position: relative;
    top: 40px;
}
#form_sub_container{
    position: absolute;
    z-index: 100;
    background: rgba(236,236,236,0.6);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.form-validation-failed{
    color: #AF3241;
}


.mostrar{
    display: none;
}