body {
    padding-top: 20px;
}

form {
    position: relative;
}

.block-loading {
    z-index: 9999;
    background: url(../images/ajax-loader.svg) #eee center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.3;
}

span.form-validation-failed {
    color: #bf6a6a;
    font-size: 0.9em;
    display: block;
    padding: 4px;
    font-style: italic;
}

/* helpers */
.mg-right {
    margin-right: 20px;
}

/* fix */
.easy-autocomplete-container {
    z-index: 9999;
}