<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link href="{{ 'bower_components/bootstrap/dist/css/bootstrap.min.css'|public }}" rel="stylesheet" />
		<link href="{{ 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css'|public }}" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
		<link href="{{ 'css/espuma.css'|public }}?{{ 'now'|date('U') }}" rel="stylesheet" />
		{% block style %}{% endblock %}
	</head>
    <body>
	{% block content %}


	{% endblock %}
	<script src="{{ 'bower_components/jquery/dist/jquery.min.js'|public }}"></script>
	<script src="{{ 'bower_components/bootstrap/dist/js/bootstrap.min.js'|public }}"></script>
	{% block scripts %}{% endblock %}

	<script>
		function redirect(url) { url = url || ''; window.location.href = base_url(url);}
		function base_url(url) { url = url || ''; return '{{''|url}}' + url;}
	</script>
	</body>
</html>

