{% set usuario = user() %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Proyecto</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="{{'home'|url}}">Inicio <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ventas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if isSeller() %}
                        <li><a href="{{'comprobante'|url}}">Comprobantes</a></li>
                        {% endif %}
                        {% if isAdmin() %}
                        <li class="divider"></li>
                        {% endif %}
                        {% if isAnalyst() %}
                        <li><a href="{{'reporte/ventas'|url}}">Ventas por mes</a></li>
                        <li><a href="{{'reporte/productos'|url}}">Productos por mes</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if isSeller() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if isAdmin() %}
                        <li><a href="{{'usuario'|url}}">Usuarios</a></li>
                        {% endif %}
                        <li><a href="{{'cliente'|url}}">Clientes</a></li>
                        <li><a href="{{'producto'|url}}">Productos</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Hola, ¡<b>{{ usuario.nombre }}</b>!</li>
                <li title="Desconectarse"><a href="{{ 'auth/signout'|url }}"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>