{% extends "partials/basic_template.twig" %}
{% block style %}

{% endblock %}
{% block content %}
    <div id="background"></div>

    <div class="col-md-3 col-md-offset-9">
        <div id="form_container">
            <div id="fake_body"></div>
            <div id="form_sub_container">
                <div class="alert-container"></div>
                <h2>Fiesta de Espuma</h2>
                <form method="post" action="{{ 'home/obtenercodigo'|url }}">
                    <input type="hidden" value="3" name="empresa">
                    <div class="form-group primeraetapa">
                        <label class="text-muted">Celular</label>
                        <input class="form-control"  placeholder="66232323.." type="numeric" maxlength="10" name="celular" id="celular">
                        <span data-key="celular" class="form-validation-failed"></span>
                    </div>
                    <div class="form-group primeraetapa">
                        <label class="text-muted">Edad</label>
                        <input class="form-control" placeholder="18" type="number" name="edad" id="edad">
                        <span data-key="edad" class="form-validation-failed"></span>
                    </div>
                    <div class="form-group primeraetapa">
                        <label class="text-muted">Sexo</label>
                        <select name="sexo" id="sexo" class="form-control">
                            <option value="" selected disabled>Elegir..</option>
                            <option value="H">Hombre</option>
                            <option value="M">Mujer</option>
                        </select>
                        <span data-key="sexo" class="form-validation-failed"></span>
                    </div>

                    <div class="form-group primeraetapa">
                        <input type="checkbox" value="1" name="chkacepto"> Acepto los terminos y condiciones</input><br>
                        <span data-key="chkacepto" class="form-validation-failed"></span>
                    </div>

                    <div id="divCodigo" class="form-group mostrar segundaetapa">
                        <label class="text-muted">Código de Confirmación</label>
                        <input type="text" class="form-control" placeholder="Ejemplo: 890212" maxlength="5"
                               name="codigo" id="codigo">
                        <span data-key="codigo" class="form-validation-failed"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button data-path="{{ 'home/obtenercodigo'|url }}" id="btnRegistar" type="button"
                                    class="btn btn-primary btn-block primeraetapa">
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                Obtener Código
                            </button>
                            <button data-path="{{ 'home/validarcodigo'|url }}" id="btnValidarCodigo" type="button"
                                    class="btn btn-success btn-block mostrar segundaetapa">
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                Validar Código
                            </button>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted text-justify">* Se enviara un código de confirmació al número
                            proporcionado.</p>
                        <p class="text-muted text-justify">* <a href=""> Terminos y condiciones</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var block = $('<div class="block-loading" />');

        $('body').on('click', '#btnRegistar', function () {
            var path = $(this).data('path');
            var form = $(this).closest("form");
            form.prepend(block);
            form.find(".form-validation-failed").html('');

            var alertContainer = form.find('.alert-container');
            alertContainer.html('');

            $.ajax({
                url: path,
                type: 'POST',
                data:form.serialize(),
                datatype: 'json',
                success: function (r) {
                    r=JSON.parse(r);
                    if(r.validations !== null) {
                        for(var k in r.validations) {
                            var vmessage = typeof(r.validations[k]) === 'array' ? r.validations[k][0] : r.validations[k];
                            form.find("[data-key='" + k + "']").html(vmessage);
                        }
                    }

                    if(r.response){
                        $('.primeraetapa').addClass('mostrar');
                        $('.segundaetapa').removeClass('mostrar');

                        var message = '<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + r.message + '</div>';
                        form.prepend(message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    block.remove();
                    var message = '<div class="alert alert-warning alert-dismissable response-message"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errorThrown + ' | <b>' + textStatus + '</b></div>';
                    form.prepend(message);
                }
            });
        });

        $('body').on('click','#btnValidarCodigo',function(){
            var path = $(this).data('path');
            var form = $(this).closest("form");
            form.prepend(block);
            form.find(".form-validation-failed").html('');

            var alertContainer = form.find('.alert-container');
            alertContainer.html('');
            $.ajax({
                url: path,
                type: 'POST',
                data: form.serialize(),
                datatype: 'json',
                success: function (r) {
                    r=JSON.parse(r);
                    console.log(r);
                    if(r.validations !== null) {
                        for(var k in r.validations) {
                            var vmessage = typeof(r.validations[k]) === 'array' ? r.validations[k][0] : r.validations[k];
                            form.find("[data-key='" + k + "']").html(vmessage);
                        }
                    }
                    if(r.response){
                        redirect(r.href);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    block.remove();
                    var message = '<div class="alert alert-warning alert-dismissable response-message"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errorThrown + ' | <b>' + textStatus + '</b></div>';
                    form.prepend(message);
                }
            });

        });
    </script>
{% endblock %}