{% extends "partials/layout.twig" %}
{% block content %}
   <div class="row">
       <nav  class="navbar navbar-default" role="navigation">
           <div class="navbar-header">

           </div>
           <div class="side-menu-contaniner"></div>
       </nav>
   </div>
{% endblock %}