{% extends "partials/layout.twig" %}
{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <form method="post" action="{{ 'cpanel/guadarnumeros'|url }}">
            <div class="alert-container"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>FICHA DE REGISTRO</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Clasificación</label>
                            <select name="prioridad" id="" class="form-control">
                                <option selected value="3">NORMAL</option>
                                <option value="2">PRINCIPAL</option>
                            </select>
                            <span class="form-validation-failed" data-key="prioridad"></span>
                        </div>
                        <div class="form-group">
                            <label>Numero <span class="text-muted">pueden ser varios separados por comas</span></label>
                            <textarea placeholder="Ingrese los números separados por comas y sin espacios"
                                      style="height: 120px" class="form-control" name="numeros"></textarea>
                            <span class="form-validation-failed" data-key="numeros"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit" data-ajax="true" data-confirm="">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}