{% extends "partials/layout.twig" %}
{% block content %}
    <div class="col-md-6 col-xs-offset-3">
        <form method="post" action="{{ 'cpanel/enviarsms'|url }}">
            <div class="alert-container"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>FORMULARIO PARA ENVIO DE SMS</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>MENSAJE</label>
                            <select data-path="{{ 'cpanel/obtenermensajebyid'|url }}" name="cmbMensaje"
                                    class="form-control" id="cmbMensaje">
                                <option selected disabled>Elegir...</option>
                                {% for mensaje in mensajes %}
                                    <option value="{{ mensaje.id }}">{{ mensaje.nombre }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-validation-failed" data-key="cmbMensaje"></span>
                        </div>
                        <div class="form-group">
                            <label>Mensaje</label>
                            <textarea style="height: 100px" name="mensaje" id="mensaje" class="form-control" maxlength="150"
                                      placeholder="Texto a enviar maximo 150 caracteres"></textarea>
                            <span class="form-validation-failed" data-key="mensaje"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit" data-ajax="true" data-confirm="">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var block = $('<div class="block-loading" />');

        $('body').on('change', '#cmbMensaje', function () {
            var Id = $(this).val();
            var path = $(this).data('path');
            var form = $(this).closest("form");
            var alertContainer = form.find('.alert-container');
            alertContainer.html('');

            form.prepend(block);
            $.ajax({
                url: path,
                type: 'POST',
                data: {id: Id},
                datatype: 'json',
                success: function (r) {
                    block.remove();
                    var msg = '';
                    r=JSON.parse(r);
                    if (r.response) {
                        $('#mensaje').val(r.result);
                    } else {
                        msg = '<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + r.message + '</div>';
                    }
                    alertContainer.html(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    block.remove();
                    console.log('Error: ' + errorThrown);
                }
            });
        });
    </script>
{% endblock %}